@font-face {
 font-family: 'ProximaNova';
 src: url('../fonts/ProximaNova/Light/ProximaNova.eot');
 src: url('../fonts/ProximaNova/Light/ProximaNova.woff2') format('woff2'),
      url('../fonts/ProximaNova/Light/ProximaNova.woff') format('woff'),
      // url('../fonts/ProximaNova/Light/ProximaNova.svg#ProximaNova') format('svg'),
      url('../fonts/ProximaNova/Light/ProximaNova.eot?#iefix') format('embedded-opentype');
 font-weight: 300;
 font-style: normal;
}
@font-face {
 font-family: 'ProximaNova';
 src: url('../fonts/ProximaNova/Regular/ProximaNovaRegular.eot');
 src: url('../fonts/ProximaNova/Regular/ProximaNovaRegular.woff2') format('woff2'),
      url('../fonts/ProximaNova/Regular/ProximaNovaRegular.woff') format('woff'),
      // url('../fonts/ProximaNova/Regular/ProximaNovaRegular.svg#ProximaNova') format('svg'),
      url('../fonts/ProximaNova/Regular/ProximaNovaRegular.eot?#iefix') format('embedded-opentype');
 font-weight: 400;
 font-style: normal;
}
@font-face {
 font-family: 'ProximaNova';
 src: url('../fonts/ProximaNova/SemiBold/ProximaNovaSemibold.eot');
 src: url('../fonts/ProximaNova/SemiBold/ProximaNovaSemibold.woff2') format('woff2'),
      url('../fonts/ProximaNova/SemiBold/ProximaNovaSemibold.woff') format('woff'),
      // url('../fonts/ProximaNova/SemiBold/ProximaNovaSemibold.svg#ProximaNova') format('svg'),
      url('../fonts/ProximaNova/SemiBold/ProximaNovaSemibold.eot?#iefix') format('embedded-opentype');
 font-weight: 500;
 font-style: normal;
}
@font-face {
 font-family: 'ProximaNova';
 src: url('../fonts/ProximaNova/Bold/ProximaNovaBold.eot');
 src: url('../fonts/ProximaNova/Bold/ProximaNovaBold.woff2') format('woff2'),
      url('../fonts/ProximaNova/Bold/ProximaNovaBold.woff') format('woff'),
      // url('../fonts/ProximaNova/Bold/ProximaNovaBold.svg#ProximaNova') format('svg'),
      url('../fonts/ProximaNova/Bold/ProximaNovaBold.eot?#iefix') format('embedded-opentype');
 font-weight: 600;
 font-style: normal;
}
@font-face {
 font-family: 'ProximaNova';
 src: url('../fonts/ProximaNova/ExtraBold/ProximaNovaExtrabold.eot');
 src: url('../fonts/ProximaNova/ExtraBold/ProximaNovaExtrabold.woff2') format('woff2'),
      url('../fonts/ProximaNova/ExtraBold/ProximaNovaExtrabold.woff') format('woff'),
      // url('../fonts/ProximaNova/ExtraBold/ProximaNovaExtrabold.svg#ProximaNova') format('svg'),
      url('../fonts/ProximaNova/ExtraBold/ProximaNovaExtrabold.eot?#iefix') format('embedded-opentype');
 font-weight: 700;
 font-style: normal;
}
