// COLORS
$red: #ffaaa5;
$orange:  #ffd3b6;
//btn
$green: #a8e6cf;
$green_light: #dcedc1;
$gray: #444444;
$gray_light: #f4f4f8;

// FONTS
$font: "ProximaNova", sans-serif, Arial;
$bold: 600;
$normal: 300;
$light: 200;

// SIZES window

$mobile: 420px;
$tablet: 767px;
$tablet_l: 1023px; // landscape
$laptop: 1280px;
$desktop: 1440px;
$desktop_l: 1920px;

// ANIMATION
$skills-start-anim: 0.8;


